<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background:#bbb;">
        <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Parallele-music</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#">L'équipe</a></li>
                        <li><a href="#">Le studio</a></li>
                        <li><a href="#">Informations</a></li>
                        <li><a href="#about">Evènements</a></li>
                        <li><a href="#contact">Boutique</a></li>

                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container" style="margin-top:51px;background-color:#eee;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075)">
            {% block body %}{% endblock %}
        </div>

        <div style="text-align:center; font-size:x-small; padding-top:10px; padding-bottom:15px;">
            <span style="color:black; margin-left:18px;"><strong>PARALLELE MUSIC</strong></span> -

            <i class="fa fa-home"></i> 27 Place du lieutenant Aubert 76000 Rouen -

            <i class="fa fa-phone"></i> 09 54 57 46 00 -
            <i class="fa fa-envelope-o"></i> parallelemusic@gmail.com -
            <i class="fa fa-facebook-f"></i> /Parallelemusic
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}

        <script>
            $('.carousel').carousel();
        </script>

    </body>
</html>
