{% extends 'base.html.twig' %}

{% block body %}

<div class="row" style="background-color:#444;">
    <div class="col-sm-3" style="padding-bottom:10px;background-color:#444; padding-top:10px; color:#bbb;">
        <div>
            <div class="label label-primary">21-06-2015</div>
            <div><a href="#" class="lead" style="color:white;">Fête de la musique</a></div>
            <small>Venez nous rejoindre devant l'enseigne de ParalleleMusic</small>
        </div>
        <hr />
        <div>
            <div class="label label-primary">19-05-2015</div>
            <div><a href="#" class="lead" style="color:white;">Spaarkles en concert</a></div>
            <small>Concert au 106</small>
        </div>
        <hr />
        <div>
            <div class="label label-primary">05-04-2015</div>
            <div><a href="#" class="lead" style="color:white;">EP Hollow Crown</a></div>
            <small>Parallèle Music a le plaisir de produire pour la seconde fois les incorruptibles rockeurs pour plusieurs titres.</small>
        </div>
    </div>
    <div class="col-sm-9" style="padding-top:10px; background-color:#eee; padding-bottom:10px;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for i in 1..4 %}
                <div class="item {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{ ('uploads/carousel/' ~ i ~ '.jpg') | imagine_filter('my_thumb') }}" alt="...">
                    <div class="carousel-caption">
                        Parallele Music présente :
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


<div class="row" style="background-color:#444; color:#ccc; padding-top:10px; padding-bottom:10px;  border-top: 1px solid #bbb;">
    <div class="col-xs-4">
        <p style="margin-bottom:20px;">Apprenez la guitare, la basse, la batterie, le piano ou encore la MAO ! <br><br>
            Les cours se déroulent au sein de notre <strong><u>studio d'enregistrement</u></strong>,
            profitez des meilleures conditions pour apprendre votre instrument préféré.
        </p>

    </div>
    <div class="col-xs-4" style="border-left:1px solid #ccc;">
        <p>
            ​Nous intervenons à vos côtés pour la réalisation d'un album, un EP, un titre, arrangements ou encore mixage et mastering...<br>

            ​Prises chant, guitare, tout type d'instruments possible dans notre Studio.<br><br>
            <strong>Assistance & Enregistrement en live.</strong>
        </p>
    </div>
    <div class="col-xs-4" style="border-left:1px solid #ccc;">
        <p>
            Une seule adresse pour nous rendre visite :<br /><br />
            <strong>PARALLELE MUSIC</strong><br />

            <i class="fa fa-home"></i> 27 Place du lieutenant Aubert -  76000 Rouen<br />
            <i class="fa fa-phone"></i> 09 54 57 46 00<br />
            <i class="fa fa-envelope-o"></i> parallelemusic@gmail.com<br />
            <i class="fa fa-facebook-f"></i> /Parallelemusic<br />
        </p>
    </div>
</div>

<div class="row" style="background-color:#444;">
    <div class="col-xs-8" style="background-color:#eee;">
        <div class="row" style="padding-bottom:10px; padding-top:10px;">
            {% for i in 1..9 %}
            <div class="col-xs-4" style="margin-bottom:10px; ">
                <div style="background-color:white; padding-bottom:10px; text-align:center;" class="clearfix img-thumbnail">

                    <img src="{{ asset('uploads/shop/123456.jpg') }}" style="width:70%; margin-bottom:10px;" class="img-responsive img-thumbnail"/>

                    <div class="col-xs-8" style="text-align:left; font-size:small;">
                        Yamaha YDP-142
                    </div>

                    <div class="col-xs-4" style="text-align:right; font-weight:bold;">
                        100 €
                    </div>



                </div>


            </div>
            {% endfor %}
        </div>

    </div>

    <div class="col-xs-4" style="background-color:#444; color:#ccc; border-top: 1px solid white; padding-bottom:10px; padding-top:10px;;">
        <ul class="list-unstyled">
            {% for i in 1..5 %}
            <li style="margin-bottom:10px;"><div class="label label-primary">21-06-2015</div> <br>
                <span style="font-size:small;"><a href="#" style="color:white;">Rendez-vous pour la fête de la musique !</a></span>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>




{% endblock %}
