{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom:0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Parallele-music</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#">L'équipe</a></li>
                    <li><a href="#">Le studio</a></li>
                    <li><a href="#">Informations</a></li>
                    <li><a href="#about">Evènements</a></li>
                    <li><a href="#contact">Boutique</a></li>

                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="background-color:white;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075)">
        <div class="row" style="background-color:#eee;">
            <div class="col-sm-3" style="padding-bottom:10px;background-color:#444; padding-top:10px; color:#bbb; border-bottom: 1px solid #bbb;">
                <div>
                    <div class="label label-primary">21-06-2015</div>
                    <div><a href="#" class="lead" style="color:white;">Fête de la musique</a></div>
                    <small>Venez nous rejoindre devant l'enseigne de ParalleleMusic</small>
                </div>
                <hr />
                <div>
                    <div class="label label-primary">19-05-2015</div>
                    <div><a href="#" class="lead" style="color:white;">Spaarkles en concert</a></div>
                    <small>Concert au 106</small>
                </div>
                <hr />
                <div>
                    <div class="label label-primary">05-04-2015</div>
                    <div><a href="#" class="lead" style="color:white;">EP Hollow Crown</a></div>
                    <small>Parallèle Music a le plaisir de produire pour la seconde fois les incorruptibles rockeurs pour plusieurs titres.</small>
                </div>

            </div>
            <div class="col-sm-9" style="padding-top:10px;">
                <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p>...</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-8">
                <div class="row" style="background-color:#444; color:#ccc; padding-top:10px;">
                    <div class="col-xs-6">
                        <p style="margin-bottom:20px;">Apprenez la guitare, la basse, la batterie, le piano ou encore la MAO ! <br>
                            Les cours se déroulent au sein de notre <strong><u>studio d'enregistrement</u></strong>,
                            profitez des meilleures conditions pour apprendre votre instrument préféré.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ccc; color:#333; font-weight:bold;">Cours individuel à la 1/2h : 12€</li>
                            <li class="list-group-item" style="background-color:#ccc; color:#333; font-weight:bold;"">Cours individuel à l'heure : 18€</li>
                        </ul>
                    </div>
                    <div class="col-xs-6" style="border-left:1px solid #ccc;">
                        <p>
                            ​Au sein de notre boutique, nous vous proposons l'enregistrement de vos projets.<br><br>

                            ​Nous intervenons à vos côtés pour la réalisation d'un album, un EP, un titre, arrangements ou encore mixage et mastering...<br>

                            ​Prises chant, guitare, tout type d'instruments possible dans notre Studio.<br><br>
                            <strong>Assistance & Enregistrement en live.</strong>
                        </p>
                    </div>
                </div>
               NEWS
            </div>

            <div class="col-xs-4">

                ARTICLES
            </div>
        </div>
    </div>

    <div>
        <span style="color:white; margin-left:18px;"><strong>PARALLELE MUSIC</strong></span><br>

        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 27 Place du lieutenant Aubert<br>
        <span style="margin-left:18px;">76000 Rouen</span><br>

        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 09 54 57 46 00
    </div>
{% endblock %}
